<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="Martinbaigorria" connectionString="Data Source=mb;Initial Catalog=clientes;User ID=martin;Password=contraseña" providerName="System.Data.SqlClient" />
	</connectionStrings>

	config.Routes.MapHttpRoute(
	name: "UsuariosApi",
	routeTemplate: "api/usuarios/{id}",
	defaults: new { controller = "Usuario", id = RouteParameter.Optional }
	);

	config.Routes.MapHttpRoute(
	name: "ProductosApi",
	routeTemplate: "api/productos/{id}",
	defaults: new { controller = "Producto", id = RouteParameter.Optional }
	);

	config.Routes.MapHttpRoute(
	name: "VentasApi",
	routeTemplate: "api/ventas/{id}",
	defaults: new { controller = "Venta", id = RouteParameter.Optional }
	);
</configuration>